<div id="loginbox">
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="control-group normal_text"> <h3><img src="img/logo.png" alt="Logo" /></h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                    <input type="text" placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Informe seu email</div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                    <input type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Informe sua senha</div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <span class="pull-left">
                <button [routerLink]="['/recoverPassword']"  class="flip-link btn btn-info" id="to-recover">Esqueceu sua senha?</button>
            </span>
            <span class="pull-right">
                <button [routerLink]="['/home']" class="btn btn-success">Entrar</button>
            </span>
        </div>
    </form>
    <form id="recoverform" action="#" class="form-vertical">
        <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>

        <div class="controls">
            <div class="main_input_box">
                <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
            </div>
        </div>

        <div class="form-actions">
            <span class="pull-left">
                <button class="flip-link btn btn-success" id="to-login">&laquo; Back to login</button>
            </span>
            <span class="pull-right">
                <button class="btn btn-info">Reecover</button>
            </span>
        </div>
    </form>
</div>

 